@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-900.woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  height: 1px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2d3440;
}

.body-pink {
  background-color:  #feafc3;
}

.body-blue {
  background-color: #69a9ff;
}

.body-yellow {
  background-color: #fcc850;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-navigation {
  margin-right: 16px;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;

}

.main-navigation-list {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-item {
  position: relative;
}

.navigation-catalog {
  box-sizing: border-box;
}

.navigation-catalog-block {
  padding-top: 8px;
  position: absolute;
  top: 35px;
  left: 1px;
}

.navigation-catalog-menu {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  min-width: 136px;
  box-sizing: border-box;
  list-style: none;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.main-navigation-link {
  display: block;
  padding: 7px 14px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 30px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.dropdown-link {
  padding-right: 38px;
  position: relative;
}

.dropdown-link::after {
  position: absolute;
  content: "";
  background-image: url("../images/down.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 6px;
  top: 14px;
  right: 16px;
}

.main-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.main-navigation-link:active {
  background-color: #fcfcfc;
  color: #2d3440;
}

.main-navigation-link:focus {
  outline: none;
  border-color: #2d3440;
}

.navigation-catalog-link {
  display: block;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color:#2d3440;
}

.navigation-catalog-link:hover {
  background-color: #feafc3;
}

.navigation-catalog-link:focus {
  outline: 1px solid #2d3440;
}

.navigation-catalog-link:active {
  background-color: #ff4a78;
}

.navigation-catalog-name {
  display:inline-block;
  width: 100%;
  height: 100%;
  padding: 6px 10px 6px 17px;
}

.new-item {
  position: relative;
  margin-bottom: 10px;
}

.new-item::after {
  content: "";
  position: absolute;
  background-color: #b9b9b9;
  width: calc(100% - 32px);
  left: 16px;
  height: 2px;
  top: 36px;
}

.new-link {
  font-weight: 700;
}

.other-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.header-help-block {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header-phone-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 200px;
}

.header-link-phone {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  color:#2d3440;
  outline: none;
}

.header-link-phone:hover,
.header-link-phone:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-search {
  position: relative;
}

.header-search-link {
  background-color: rgba(252, 252, 252, 0.3);
  border: 0;
  box-sizing: border-box;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header-search-link:focus {
  outline: none;
  border: 2px solid #2d3440;
}

.header-search-image {
  display: block;
  width: 14px;
  height: 14px;
}

.navigation-form-block {
  padding-top: 10px;
  position: absolute;
  top: 28px;
  right: 0;
}


.navigation-form {
  min-width: 357px;
  border-radius: 4px;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: #fcfcfc;
}

.navigation-search {
  display: inline-block;
  min-width: 285px;
  padding: 14px 22px 12px 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.header-search-wrapper {
  position: relative;
}

.navigation-search-reset {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 16px;
  right: 16px;
  border: none;
  width: 10px;
  height: 10px;
  background-image: url("../images/exit.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.navigation-search:not(:placeholder-shown) + .navigation-search-reset {
  display: block;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 218px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  gap: 16px;
}

.user-navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 5px 14px 4px 37px;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid transparent;
  border-radius: 30px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.entry-link::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url(../images/entry.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 14px;
}

.cart-link::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(../images/cart-icon.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 14px;
}

.user-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link:focus {
  outline: none;
  border-color:#2d3440;
}

.personal-account-wrapper {
  position: absolute;
  right: 0;
  padding-top: 5px ;
  z-index: 1;
}

.personal-account {
 width: 420px;
 padding: 50px 48px;
 box-sizing: border-box;
 background-color: #fcfcfc;
 border-radius: 4px;
}

.personal-account-title,
.popover-cart-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.personal-account-input {
  width: 323px;
  height: 47px;
  padding: 14px 16px;
  box-sizing: border-box;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.personal-account-password {
  font-size: 13px;
}

.personal-account-label + .personal-account-label {
  margin-top: 17px;
  margin-bottom: 27px;
}

.personal-account-entry {
  display: flex;
  align-items: center
}

.personal-account-button {
  padding: 13px 30px;
  background-color:#ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color:#fcfcfc;
  margin-right: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.personal-account-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-link,
.registration-link {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.password-link {
  margin-bottom: 5px;
}

.user-navigation-item {
  position: relative;
}

.popover-cart-wrapper {
  position: absolute;
  top: 28px;
  right: 1px;
  padding-top: 10px;
  z-index: 1;
}

.popover-cart {
  width: 440px;
  padding: 49px 48px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fcfcfc;
  z-index: 1;
}

.cart-list-products {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.cart-item-product {
  display: flex;
  align-items: center;
}

.cart-item-product + .cart-item-product {
  margin-top: 22px;
}

.cart-image-wrapper {
  margin-right: 16px;
}

.cart-image {
  display: block;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin-right: 25px;
}

.cart-product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-chosen-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-product-price {
  margin-right: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 120px;
}

.cart-product-delete {
  display: inline-block;
  border: none;
  width: 10px;
  height: 10px;
  background-image: url("../images/exit.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.cart-order {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.cart-order-submit {
  display: inline-block;
  padding: 12px 32px;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.cart-order-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*----------------------------------*/

.popover-window {
  display: none;
}

.popover-block:hover .popover-window {
  display: block;
}

.popover-block:focus-within .popover-window {
  display: block;
}




/*-------------------------------------*/
.slider-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 27px
}

.slider-item {
  margin-top: 150px;
  opacity: 0.5;
}

.slider-img-block {
  width: 100px;
  height: 150px;
}

.slider-image {
  max-width: 100%;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.slider-text-block {
  display: none;
}

.slider-item-current {
  margin-top: 0;
  opacity: 1;
  display: flex;
  width: 908px;
}

.slider-item-current .slider-text-block {
  padding-top: 92px;
  width: 523px;
  padding-left: 72px;
  box-sizing: border-box;
  padding-right: 10px;
  display: block;
}

.slider-item-current .slider-img-block {
  width: 367px;
  height: 554px;
}
